*{
	background-color: #000;
}
h2{
	text-transform: uppercase;
	font-family: 'Caveat', cursive;
	text-shadow: 3px 3px 3px rgba(252, 200, 200);
	text-align: center;
	color: #E00000;
	font-size: 60px;
	margin-bottom: -15px;
	margin-top: -10px;
}
h1{
	font-family: 'Righteous', cursive;
	text-align: center;
	color: #fff;
	font-size: 80px;
	margin-top: -10px;
}

img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 20%;
}
@media (max-width: 768px){
	.mobile-menu{
		display: block;
	}
	p{
		width: 10%;
	}